<ion-header [translucent]="true">

  
  <ion-item>
    <ion-label routerLink="/home">Voltar</ion-label>
  </ion-item>
</ion-header>



<ion-content [fullscreen]="true">



  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-label class="title">Formulário de Voluntários</ion-label>
    <ion-item>
   
      <ion-input label="Nome" formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item>
 
      <ion-input label="E-Mail" formControlName="email" type="email"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="Senha" formControlName="password" type="password"></ion-input>
    </ion-item>
  
    <ion-item>
     
      
      <ion-input label="CPF/CNPJ" formControlName="cpfCnpj"></ion-input>
    </ion-item>
  
    <ion-item>
  
      <ion-input label="Onde Trabalha?" formControlName="company"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="Celular" formControlName="mobilePhone" type="tel"></ion-input>
    </ion-item>
  
    <ion-item>
  
      <ion-input label="Telefone" formControlName="phone" type="tel"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="CEP" formControlName="postalCode"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="Endereço "formControlName="address"></ion-input>
    </ion-item>
  
    <ion-item>

      
      <ion-input label="Bairro" formControlName="province"></ion-input>
    </ion-item>
  
    <ion-item>
    
      <ion-input label="Estado" formControlName="state"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="Cidade" formControlName="city"></ion-input>
    </ion-item>
  
    <ion-item>
    
      <ion-input label="Numero" formControlName="addressNumber"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input label="E-Mails Adicionais" formControlName="additionalEmails" type="email"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-textarea label="Observacoes" formControlName="observations"></ion-textarea>
    </ion-item>
  
    <!-- Campo invisível 'role' -->
    <input formControlName="role" type="hidden">
  
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
  
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="home" routerLink="/home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="search" routerLink="/pesquisar-voluntario"></ion-icon>
    </ion-fab-button>
 
  </ion-fab-list>
</ion-fab>